@import "~bootstrap/scss/bootstrap";

$enable-gradients: true; 
$enable-shadows: true; 
$primary: red;

//.container-max-width {
//    max-width: 100%;
//}

.bg-very-dark {
//    opacity: 0.5;
    background-color:rgba(0,0,0,0.5);
//    background-color: 'linear-gradient(to down, #1a1b1c, red)';
}


