@import "~bootstrap/scss/bootstrap";

$enable-gradients: true;
$enable-shadows: true;
$primary: red;

.bg-very-dark {
    background-color: rgba(0, 0, 0, 0.5);
    //    background-color: 'linear-gradient(to down, #1a1b1c, red)';
}

.leaflet-container {
    height: 524px;
    width: 100%;
}

